*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
width: 100%;
height: 100px;

}


.layout-grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
 
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 130px;
}

menu {
    display: flex;
    justify-self: space-between;
    width: 350px;
    
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    font-family: 'courien new', courier, monospace;
    font-weight: 600;
}
  .banner{
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid rgb(251, 251, 251);
}

.banner img{
    width: 100%;
}

.banner a{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    background-color:#444444;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: nome;
    font-weight: 600;
}